

.app {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  min-height: 100%;
  justify-content: space-between;

  footer {
    padding: 0;
    background: pink;
    color: #fff;

    p {
        text-align: center;
        padding: 1em 0;
    }
  }

  .content {
    margin: 0 ;
    background: pink;
    display: flex;
    justify-content: center;
    padding: 2em;
    color: white;
  }

  .mainContent {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }

  .Book {
    margin: 10px;
  }

  .AddButton {
    padding: 5em;
    margin: auto 
  }

}

.contentBody {
  display: flex;
  flex-direction: row;
}
