.Book {
    border: 2px solid pink;
    max-width: 20em;
    border-radius: 2%;
    padding: 1em;
    background
}

.Image {
    margin: 0;
}

.BookContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.Title {
    font-weight: bold;
}

