.Book {
    border: 2px solid pink;
    max-width: 20em;
    max-height: max-content;
    border-radius: 2%;
    background: pink;
    margin: 0;
    padding: 0;
}


.BookContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: white;
}

.Title {
    font-weight: bold;
    font-size: 1.5em;
}

.isbn13 {
    font-style: italic;
}

.price {
    font-size: 2em;
}

.url {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: purple;
    margin: 0;
    padding: 2em;
    font-weight: bold;
}

.Image {
    max-width: 15em;
    max-height: 15em;
}